{% extends "layout2.html" %}
{% block content %}
	<h1>The Beginning</h1>

	<p align="justify">Dolfa Digital Print is a humble business diversification of 
former Overseas Filipino Workers (OFWs). Realizing that overseas employment 
<em>should not be</em> a lifetime way of generating income, these OFWs 
decided to start venturing into the business world. Using their earned 
savings, these OFWs started little, slowly and strategically. </p>

	<p align="justify">Carrying a big dream and thoughts of hope, in 2008, these OFWs 
daringly opened and ran a computer shop. Catering internet and gaming 
services and naming the pilot branch as Dolfa Internet Cafe. Noticing 
positive number of patrons, a second shop was put up in 2010 to attain a 
different class of patrons as well as serve other patrons that could not be 
accommodated by the pilot branch. As the two shops simultaneously ran, 
other services were provided to the satisfaction of our patrons. One of 
these other services is printing. </p>

	<p align="justify">Excitedly in 2012, the very first brand new high-end printing 
machine was purchased. With its robust appearance, the new printer was able 
to captivate the old and new patrons' interest and demand. Albeit the new 
printer's capacity is solely focus on document print collateral, it was 
able to create a buzz in the community. That, Dolfa Internet Cafe is here 
to serve its patrons with exceptionally good output quality print 
collateral. Thereon, Dolfa Digital Print was able to claim its independent 
entity from Dolfa Internet Cafe, its business predecessor. </p>


	<h1>What About Now?</h1>

	<p align="justify">Up to this date, Dolfa Digital Print continues to strive for 
exceptionally good output quality that enables satisfied patrons to share 
their wonderful experience to other family members, friends, business 
partners and to whomever they feel will benefit from the quality of service 
Dolfa Digital Print aims to provide. </p>
	
{% endblock content %}