{% extends "layout2.html" %}
{% block content %}
<div class="left">
<h1>Usap Tayo</h1>
<h5>0915.310.0755</h5>
<h5>(049)508.1912</h5>
<br>
<div class="icons">
<h2>Request for a Quotation</h2>
<a href="https://mail.google.com/mail/?view=cm&fs=1&to=dolfadigitalprint@gmail.com&su=SUBJECT&body=BODY&bcc=dolfadigitalprint.dues@gmail.com"><img src="/static/gmail.png"></a>
<a href="https://compose.mail.yahoo.com/?to=dolfadigitalprint@gmx.com
"><img src="/static/yahoo.png"></a>
<a href="https://outlook.live.com/owa/?to=dolfadigitalprint@gmx.com&path=/mail/action/compose"><img src="/static/outlook.jpg"></a>
</div>
<div class="location">
	<div>
	<p align="justify" class="ptext"> Block 31 Lot 1 Phase 1 Main Road, <br>San Lorenzo South, Santa Rosa, Laguna 4026 </p>
	</div>

</div>

<div class="right">
<div class="icons">
<h2> Pwede punta kayo</h2>
<a href="https://www.facebook.com/dolfadigitalprint"><img src="/static/fb.png"></a>
<a href="https://www.waze.com/ul?place=ChIJx7HYOHPYlzM"><img src="/static/waze.png"></a>

</div>
</div>
	<div class="maps">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3866.731113146196!2d121.10108001483631!3d14.268897190014401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d87338d8b1c7%3A0xb31407251abbb139!2sDolfa%20Digital%20Print!5e0!3m2!1sen!2sph!4v1590069617448!5m2!1sen!2sph" width="450" height="250" frameborder="1" style="border:5px double pink;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
</div>
{% endblock content %}