{% extends "layout2.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<div class="cucontainer">
		<div class="box">
			<div class="icona">
			<i class="fa fa-comments" aria-hidden="true"></i></div>
			<div class="contest">
				<h4>Usap tayo</h4>
				<br>
				<a href="https://www.facebook.com/dolfadigitalprint/"><i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i></a>
			</div>
		</div>
		

		<div class="box">
			<div class="icona">
			<i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			<div class="contest">
				<h4>Pa-<i>quote</i> ka?</h4>
				<br>
				<a class="icons" href="https://mail.google.com/mail/?view=cm&fs=1&to=dolfadigitalprint@gmail.com&su=Request For Quotation&body=Type of Media(Sticker/Tarpaulin/Architectural)&bcc=dolfadigitalprint.dues@gmail.com"><img src="/static/gmail.png"></a>
		</div>
		</div>
		


		<div class="box">
			<div class="icona">
			<i class="fa fa-map-marker" aria-hidden="true"></i></div>
			<div class="contest">
				<h4>Nandito kami!</h4>
				<br>
				<a href="https://goo.gl/maps/93ajWRHBRNLhWsTk9"><i class="fa fa-street-view fa-4x" aria-hidden="true"></i></a>
		</div>
		</div>

	</div>
</div>
</body>

{% endblock content %}