  
{% extends "layout.html" %}

{% block content %}
  
 <h2>We can print</h2>
 <br>
<style>
  
  h2 {

    text-align: center;
    
      }
</style>
    <div class="gallery">
  <a target="_blank" href="tarp.jpg">
    <img src="/static/tarp.jpg" alt="Tarpaulin" >
  </a>
  <div class="desc">Tarpaulins</div>
</div>

<div class="gallery">
  <a target="_blank" href="stickerlabel.jpg">
    <img src="/static/label.jpg" alt="Sticker">
  </a>
  <div class="desc">Sticker Labels</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="/static/mug.jpg" alt="Mountains">
  </a>
  <div class="desc">on Mugs</div>
</div>

<div class="gallery">
  <a target="_blank" href="vehiclesticker.jpg">
    <img src="/static/vehiclesticker.jpg" alt="Northern Lights"height="300px" >
  </a>


  <div class="desc">Vehicle Sticker</div>
</div>
<div class="gallery">
  <a target="_blank" href="vehiclesticker.jpg">
    <img src="/static/cutouts.jpg" alt="Cutouts" height="300px" >
  </a>
  <div class="desc">Sticker Cutouts</div>
</div>
<div class="gallery">
  <a target="_blank" href="vehiclesticker.jpg">
    <img src="/static/carpass.jpg" alt="Cutouts" height="300px">
  </a>
  <div class="desc">Vehicle Pass</div>
</div>
{% endblock content %}