
{% extends "layout2.html" %}

{% block content %}

<h2 id="home"> Stickers</h2>


<div class="wholeaccordion">
<button class="btn btn-dark accordion">Glossy</button>
<div class="panel">
	<p>Mostly used by  customers who prefer 
vibrant color output with shiny effect.</p>
  <div>
  	<img src="/static/pic7.jpg" width="500px" alt="matte">
  </div>
  

</div>

<button class="btn btn-danger accordion">Matte</button>
<div class="panel">
  <p class="wholeaccordion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="btn btn-light accordion">Clear</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="btn btn-info accordion">Frosted</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>


<button class="btn btn-primary accordion">Reflective</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>


<button class="btn btn-outline-danger accordion">Photoluminescent</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>


<script type="text/javascript" src="/static/service.js">
</script>
</html>
{% endblock content %}