
{% extends "layout2.html" %}
{% block content %}

<h2 id="home"> Stickers</h2>



<div class="accordion" id="accordionExample">
  <div class="card">
    <div>
 <button class="btn btn-secondary card-header" id="headingOne" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Glossy
        </button>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Use Glossy Sticker if you prefer your printed artwork to emit with shine and produce a lot of color contrast. Colorful artwork is suitable to this media.
        <img src="/static/pic7.jpg" width="300px">
      </div>
    </div>
  </div>
 



  <div class="card">
   <div>
        <button class="btn btn-secondary collapsed card-header" id="headingTwo" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Matte
        </button>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Use Matte Sticker if you prefer your printed artwork to appear subtle with soft satin low glare. Less colorful artwork works well with this media.
      </div>
    </div>
  </div>
  


  <div class="card">
   <div>
        <button class="btn btn-secondary collapsed card-header" id="headingTwo" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Clear
        </button>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Use Matte Sticker if you prefer your printed artwork to appear subtle with soft satin low glare. Less colorful artwork works well with this media.
      </div>
    </div>
  </div>
  


  <div class="card">
   <div>
        <button class="btn btn-secondary collapsed card-header" id="headingFour" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Reflective
        </button>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        Use Reflective...
      </div>
    </div>
  </div>




  <div class="card">
   <div>
        <button class="btn btn-secondary collapsed card-header" id="headingFive" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Photoluminiscent
        </button>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        Use Photoluminiscent...
      </div>
    </div>
  </div>



 <div class="card">
   <div>
        <button class="btn btn-secondary collapsed card-header" id="headingSix" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Frosted
        </button>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        Use Frosted...
      </div>
    </div>
  </div>


</div>

{% endblock content %}