  
{% extends "layout2.html" %}

{% block content %}

<h2 id="home"> Stickers</h2>
<style>
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
</style>

<!-- TYPES OF STICKERS -->

<body>

<div>
<div>
<button type="button" class="btn btn-dark"onclick="myFunction(this)">Glossy</button>
</div>


<div>
<button type="button" class="btn btn-dark"onclick="myFunction(this)">Matte</button>
</div>

<div>
<button type="button" class="btn btn-light"onclick="myFunction(this)">Clear</button>
</div>

<div>
<button type="button" class="btn btn-info"onclick="myFunction(this)">Frosted</button>
</div>

<div>
<button type="button" class="btn btn-dark"onclick="myFunction(this)">Reflective</button>
</div>

<button type="button" class="btn btn-dark"onclick="myFunction(this)">Photoluminiscence</button>
</div>




<div class="container">
  <span onclick="myFunction.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:50%">
  <div id="imgtext"></div>
</div>


<script>
function myFunction() {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>
</body>
{% endblock content %}